@import "tailwindcss";



:root {
  --primary: #FF8C42;       /* Titles & buttons */
  --accent: #FFE066;        /* Card hover / highlights */
  --background: #F8F9FA;    /* Page background */
  --text: #2D2D34;          /* Body text */
}

/* Optional global styles */
body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary);
}

button {
  background-color: var(--primary);
  color: white;
  border-radius: 1rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--accent);
}


.card {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  padding: 1rem;
}



@media (min-width: 1310px) {
  .grid-xxl-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}
